{% load attachments %}

<div class="popover">
    <div class="arrow"></div>
    <form action="{% url "update-attachment" attach_id=att.pk %}" method="post" class="update-attachment">
        {% csrf_token %}
        <div class="popover-title">
            <button type="button" class="close" aria-hidden="true" data-dismiss="popover"><span class="fa fa-times" aria-hidden="true"></span><span class="sr-only">Close</span></button>
            <h3 class="attachment-properties-title">Edit {{ att.file_name }} Properties</h3>
        </div>
        <div class="popover-content attachment-properties-form">
            {% include "attachments/form.html" %}
        </div>
        <div class="popover-footer">
            <div class="popover-footer-btns">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="popover">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm save-properties">Save</button>
            </div>
        </div>
    </form>
</div>
