{% load attachments %}
{% load bootstrap %}

<div class="popover right">
    <div class="arrow"></div>
    <form action="{% url "update-attachment" attach_id=att.pk %}" method="post" class="update-attachment">
           {% csrf_token %}
        <div class="popover-title">
            <button type="button" class="close" aria-hidden="true" data-dismiss="popover"><i class="fa fa-times"></i></button>
            <h4>Edit {{ att.file_name }} Properties</h4>
        </div>
        <div class="popover-content">
            <div class="alert alert-danger attachment-alert" style="display:none;"></div>
            {% bootstrap_form att|attachment_properties_form %}
        </div>
        <div class="popover-footer">
            <div class="popover-footer-btns">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="popover">Cancel</button>
                <button type="submit" class="btn btn-primary btn-sm save-properties">Save</button>
            </div>
        </div>
    </form>
</div>
