{% load attachments %}
{% load bootstrap %}

<div class="popover">
    <div class="arrow"></div>
        <div class="popover-title">
            <button type="button" class="close" aria-hidden="true" data-dismiss="popover"><i class="fa fa-times"></i></button>
            <h4>View {{ att.file_name }} Properties</h4>
        </div>
        <div class="popover-content attachment-properties-form">
		     <div class="row">
		        {% for prop in att.get_properties %}
		            <div class="col-md-3">
		                {% render_value att prop %}
		            </div>
		        {% endfor %}
		    </div>           
        </div>
        <div class="popover-footer">
            <div class="popover-footer-btns">
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="popover">Close</button>
            </div>
        </div>
    </form>
</div>
